# Integer

In [ ]:
birth = int(input("enter your birth year: "))
age = 2024 - birth
print("your age is ", age)

enter your birth year: 1999
your age is  25

# Float

In [4]:
value_of_pi = float(3.14)
print(value_of_pi)

3.14

# Boolean

In [5]:
toy_price = 500
purchase_range = 350
buy = toy_price > purchase_range
print("you're not enable to buy" , buy)

you're not enable to buy True

# Sting
# indexing

In [12]:
name = 'Hassan'
name[1 : 3]

'as'

# Slice

In [13]:
email = "hassan.123@gmail.com"
domain = email[3:6]
print(domain)

san

# String Class Method

In [14]:
message = " eid mubarak eid"
a=message.count("eid")
print(a)

2

In [28]:
message = "happy birthday"
a=message.find("k")
print(a)

-1

In [23]:
message = "happy birthday"
a=message.index("g")
print(a)

ValueError: substring not found

In [27]:
message = " maryam is a good girl"
a=message.replace("maryam" , "kausar")
print(a)

 kausar is a good girl